html {
    background-color: black;
}
#top1 {
    display: block;
    position: absolute;
    color: white;
    margin: 150px;
    margin-bottom: 100px;
    margin-left: 850px;
}
#top1media {
    display: block;
    position: absolute;
    margin-top: 180px;
    margin-bottom: 100px;
    margin-left: 625px;
    height: 250px;
    width: 500px;
}
#top2media {
    display: block;
    position: absolute;
    margin-top: 230px;
    margin-bottom: 100px;
    margin-left: 1200px;
    height: 250px;
    width: 500px;
}
#top2 {
    display: block;
    position: absolute;
    color: white;
    margin: 200px;
    margin-bottom: 100px;
    margin-left: 1440px;
}